<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Jogo da Memória</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>

    <div class="navegacao" style="display: flex; margin: auto; width: 1150px">
        
        <nav class="secoes">
            <ul style="display: flex; list-style-type: none; font-size: 20px; font-weight: bold">
                {% if not user.is_authenticated %}
                    <li  style="margin: 40px; margin-left: 0;">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li style="margin: 40px; margin-left: 0;">
                        <form class="logout" method="post" action="{% url 'logout' %}" 
                        style="padding: 0; margin: 0; width: 60px;
                            border: none;">
                            {% csrf_token %}
                            <button type="submit" 
                            style="background-color: white; font-size: 20px; text-decoration: underline;
                                   cursor: pointer; font-weight: bold">Logout</button>
                        </form>
                    </li>
                {% endif %}
                <li style="margin: 40px">
                    <a href="{% url 'admin:login' %}">Admin</a>
                </li>
                <li style="margin: 40px;">
                    <a href="{%url 'home' %}">Home</a>
                </li>
            </ul>
        </nav>
        {% if user.is_authenticated %}
            <p style="margin: 40px; margin-left: auto; font-size: 20px; font-weight: bold;"> Olá, {{ user.username }}!</p>
        {% else %}
            <p style="margin: 40px; margin-left: auto; font-size: 20px; font-weight: bold;">Faça Login!</p>
        {% endif %}
    </div>

    <div class="logo">
        <img src="/static/imagens/brain.png" alt="Brain.png">
        <h2>Memory Chess</h2>
    </div>

    <section>
        <h2>Ranking de Jogadores</h2>
    </section>

    <div class="text">
        <p>Veja quem se destaca no jogo da memória! A tabela de ranking exibe os melhores jogadores com base em suas pontuações e tempos de jogo. Acompanhe os líderes e desafie-os para alcançar o topo!</p>
    </div>

    <section>
        <h2>Ranking Menos Tentativas</h2>
    </section>

    <table>
        <thead>
            <th>Posição</th>
            <th>Jogador</th>
            <th>Tentativas</th>
            <th>Data e Hora</th>
        </thead>
        {% for jogador in ranking_menos_tentativas %}
        <tbody>
            <td>{{ forloop.counter }}°</td>
            <td>{{jogador.usuario.username}}</td>
            <td>{{jogador.tentativas}}</td>
            <td>{{jogador.dataPartida}}</td>
        </tbody>
        {% endfor %}
    </table>

    <section>
        <h3>Ranking Mais Recente</h2>
    </section>

    <table>
        <thead>
            <th>Posição</th>
            <th>Jogador</th>
            <th>Tentativas</th>
            <th>Data e Hora</th>
        </thead>
        {% for jogador in ranking_mais_recente %}
        <tbody>
            <td>{{ forloop.counter }}°</td>
            <td>{{jogador.usuario.username}}</td>
            <td>{{jogador.tentativas}}</td>
            <td>{{jogador.dataPartida}}</td>
        </tbody>
        {% endfor %}
    </table>

    <footer>
        <img src="/static/imagens/horse-icon-removebg-preview.png" alt="Horse.png">

        <div>
            <p>Todos os direitos reservados ⓒ</p>
        </div>

        <div>
            <p> 
                Integrantes: 
                Fred Willamy da Cruz Silva, <br>
                Snanda Sabrina Fernandes de Oliveira, <br>
                Gislaine dos Santos Lima
            </p>
        </div>
        <div>
            <p> 
                Disciplina: Programação para Internet <br>
                Professor: Marcelo Figueiredo Barbosa Júnior <br>
                IFRN - Campus Santa Cruz/RN <br>
            </p>
        </div>
    </footer>
</body>
</html>